@{ 
    Layout = null;
}
@using myBBS.Models
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Desktop-BBS论坛管理系统</title>
        <meta name="keywords" content="desktop-Webos,Webos,windows-webos">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="~/Content/themes/layui/css/layui.css">
        <link rel="stylesheet" type="text/css" href="~/Content/themes/desktop/style/swiper-3.4.0.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/themes\desktop\style\userCenter.css">
        <script src="~/Content/themes/desktop/js/jquery-1.11.3.js"></script>
        <script src="~/Content/themes/desktop/js/loadWeather.js"></script>
    </head>
    <body>

        <div class="conatiner">
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <ul class="layui-nav layui-nav-tree" lay-filter="listUser">
                        
                        <li class="layui-nav-item  layui-nav-itemed ">
                            <a href="javascript:;">个人资料</a>
                            <dl class="layui-nav-child">
                                <dd data-list="#showBox2" class="layui-this"><a href="javascript:;">资料查看</a></dd>
                                <dd data-list="#showBox3"><a href="javascript:;">密码修改</a></dd>
                            </dl>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="containerRight">
                <div id="showBox2" class="containerShowBox ">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this" style="width: 100%;">个人信息</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form showBox" action="">
                                    <input type="hidden" name="adminid" autocomplete="off" value='@ViewData["adminid"]' class="layui-input layui-disabled-normal" disabled>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">用户名:</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="adminname" autocomplete="off" value='@ViewData["adminname"]' lay-verify="adminname" class="layui-input layui-disabled-normal" disabled>
                                        </div>

                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">手机号码:</label>
                                            <div class="layui-input-inline">
                                                <input type="tel" name="adminphone" autocomplete="off" value='@ViewData["adminphone"]' lay-verify="adminphone" class="layui-input layui-disabled-normal" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">邮箱:</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="adminemail" autocomplete="off" value='@ViewData["adminemail"]' lay-verify="adminemail" class="layui-input layui-disabled-normal" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">所在处:</label>
                                            <div class="layui-input-inline">
                                                <input type="tel" name="adminadress" autocomplete="off" value='@ViewData["adminadress"]' class="layui-input layui-disabled-normal" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-input-block layui-input-center">
                                        <button class="layui-btn" lay-submit="" lay-filter="updateUser" lay-state="0">修改</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="showBox3" class="containerShowBox hidden">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this" style="width: 100%;">修改密码</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <form class="layui-form showBox" action="">
                                    <div class="layui-form-item">
                                        <input type="hidden" name="adminid" value='@ViewData["adminid"]' />
                                        <label class="layui-form-label">原始密码:</label>
                                        <div class="layui-input-inline">
                                            <input type="password" name="adminoldpwd" autocomplete="off" lay-verify="adminnewPwd" value="" class="layui-input ">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">新密码:</label>
                                            <div class="layui-input-inline">
                                                <input type="password" name="adminnewPwd" autocomplete="off" lay-verify="adminnewPwd" value="" class="layui-input ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">重复新密码:</label>
                                            <div class="layui-input-inline">
                                                <input type="password" name="adminrenewPwd" autocomplete="off" lay-verify="adminrenewPwd" value="" class="layui-input ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-input-block layui-input-center">
                                        <button class="layui-btn" lay-submit="" lay-filter="updatePwd" lay-state="0">修改</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Content/themes/desktop/js/echarts.min.js"></script>
        <script src="~/Content/themes/layui/layui.js"></script>
        <script src="~/Content/themes/desktop/js/userCenter.js"></script>

    </body>
</html>
